/* CSS Document */


/* Global Styles */
* {
  padding: 0;
  margin: 0;
}

body {
	font-family: sans-serif;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 30px;
}
header, footer {
	background: darkseagreen;
	color: white;
	text-align: center;
	padding:20px;
}

li {
	display:inline-block;
	padding: 15px 90px;
	background: darkseagreen;
	margin-top: 20px;
}

nav {
	text-align: center;
}

a {
	color: #305030;
}
p a:hover {
	background:#dfecdf;
}

nav a {
	font-size: 25px;
	text-decoration: none;
}
nav a:hover {
	color: white;
}

/*
img {
	float: left;
	padding: 0 10px;
}
*/

img {
	position: relative;
	left: 50%;
	margin-left: -50px;
}

.content-wrap {
	width: 900px;
	margin: 0 auto;
}


.section-border {
    border: thick solid darkseagreen;
    padding: 15px;
	margin: 20px 0px;
}

.footer{
	padding: 25px;
}

footer a { /*descedant */
	color: white;
	text-decoration: none;
	background: #305030;
	padding:20px;
	margin-top: 80px;
}

footer a:hover { /*descedant */
	background: #437043;
}
#test {
	margin-bottom: 50px;
}