/* CSS Document */


/* Global Styles */
* {
  padding: 0;
  margin: 0;
}

body {
	font-family: sans-serif;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 30px;
}

h1, h2, h3 {
	font-family: 'Abril Fatface', cursive;
}

header h2 {
	color: darkseagreen;
}

header {
	background-image: url("../images/fruits-pattern.png");
	color: white;
	text-align: center;
	padding:50px;
	text-shadow: 2px 2px 4px #000000;
}

footer {
	background: darkseagreen;
	color: white;
	text-align: center;
	padding:20px;
}

li {
	display:inline-block;
	padding: 15px 90px;
	background: darkseagreen;
	margin-top: 20px;
}

nav {
	text-align: center;
}

a {
	color: #305030;
}
p a:hover {
	background:#dfecdf;
}

nav a {
	font-size: 25px;
	text-decoration: none;
}
nav a:hover {
	color: white;
}

/*
img {
	float: left;
	padding: 0 10px;
}
*/

/*
img {
	position: relative;
	left: 50%;
	margin-left: -50px;
}
*/

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 10px;
}

.content-wrap {
	width: 900px;
	margin: 0 auto;
}


.section-border {
    border: thick solid darkseagreen;
    padding: 15px;
	margin: 20px 0px;
}

.footer{
	padding: 25px;
}

footer a { /*descedant */
	display: inline-block;
	color: white;
	text-decoration: none;
	background: #305030;
	padding:20px;
	margin-top: 20px;
}

footer a:hover { /*descedant */
	background: #437043;
}